import { Module } from '@nestjs/common';
import { ConfigModule } from '@nestjs/config';
import { <%- className %>Controller  } from './<%- fileName %>.controller.js';

@Module({
  imports: [ConfigModule],
  controllers: [ <%- className %>Controller ],
})
export class <%- className %>Module {}
