datasource db {
  provider = "postgresql"
}

generator client {
  provider = "prisma-client"
  output   = "../src/prisma"
}

generator zod {
  provider = "zod"
  output   = "../src/zod"
}

model Sample {
  id        Int       @id @default(autoincrement())
  uuid      String    @unique @default(uuid(7))
  createdAt DateTime  @default(now())
  updatedAt DateTime  @updatedAt
  deletedAt DateTime?

  name String @unique
}
