// @index(['./**/*.ts', '!./**/*.{test,spec}.ts', '!./**/main.ts'], f => `export * from '${f.path}.js'`)
export * from './lib/<%- fileName %>.controller.js';
export * from './lib/<%- fileName %>.module.js';

